/* --------- Removed Markers -------- */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}


ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
button{
    cursor: pointer;
}

img {
  display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    }

    .container {
        max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    
    @media screen and (min-width: 768px) {
        .container{
            max-width: 768px;
        } 
        .mob-menu{
            display: none;
        }
    }
    
    @media screen and (min-width: 1158px) {
        .container{
            max-width: 1158px;
        }
        .section-padding{
            padding-top: 120px;
            padding-bottom: 120px;
          }
    }   
/* ------- Header Styles --------- */
.menu{
    display: none;
}
.contact-header{
    display: none;
}
.page-logo { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    }
    .logo-color {
    color: #2e2f42;
    }

.mobile-open-button{
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    fill: #2f2f37;
}
.page-header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.page-header{
    padding-top:16px;
    padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .mobile-open-button{
     display: none;
    } 
    .page-header{
        border-bottom: 1px solid #e7e9fc;
        box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
      }
      .page-header-container{
        display: flex;
        align-items: center;
      }
      .page-navigation{
        display: flex;
        align-items: center;
      }
      
    .menu{
        display: flex;
        gap: 40px;
      }
      .menu-item {
      background-color: #ffffff;
      }
      
      .menu-link{
      display: block;
      padding-top: 24px;
      padding-bottom: 24px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #2e2f42;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .menu-item .studio-menu{
        position: relative;
        color:  #404bbf;
      }
      .menu-link:hover,
      .menu-link:focus{
      color: #404bbf;
      }
      
      .current{
        position: relative;
        color:#404bbf;
      }
      .current::after{
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
      }
      .contact-block-item{
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
      transition: color cubic-bezier(0.4, 0, 0.2, 1);
      }
      .contact-link{
      color: #434455;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
      }
      
      .contact-block{
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      .contact-header{
        display: block;
        font-style: normal;
        margin-left: auto;
      }
      .contact-link:hover,
      .contact-link:focus{
        color: #404bbf 
      }
}
@media screen and (min-width: 1158px) {
    .contact-block{
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-right: auto;
      }
      .contact-header{
        font-style: normal;
        margin-left: auto;
      }
    }
/* --- Hero CTA Section styles --- */

.hero-section{
    background: #2e2f42;
    min-width: 320px;
    padding-top: 72px;
    padding-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bgmobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


  .main-title {
    width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 48px;
        }
    .order-btn {
    border-radius: 4px;
    padding: 16px 32px;
    font-family: inherit;
    font-size: inherit;
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    }
    .button-container{
      display: block;
      align-items: center;
      min-width: 169px;
      height: 56px;
      border: none;
      margin: auto;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    .order-btn:hover,
    .order-btn:focus {
      background: #404bbf;
    }

@media (min-resolution: 192dpi) and (min-width:320px){
    .hero{
        background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
        url(../images/dark-bgmobile@2x.jpg);
    }
} 
@media screen and (min-width: 768px){
    .hero-section{
    max-width: 1440px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bgtablete.jpg);
        }
    .hero-container{
            padding-left: 136px;
            padding-right: 136px;
          }
    .main-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    width: 496px;
    margin: 0 auto;
          }
      }
    
      @media screen and (min-width: 1158px){
        .hero-section{
            max-width: 1440px;
            margin-left: auto;
            margin-right: auto;
            padding: 188px 0px;
            background-color: #2e2f42;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
          
          .main-title {
          max-width: 496px;
          font-weight: 700;
          font-size: 56px;
          line-height: 1.07;
          letter-spacing: 0.02em;
          text-align: center;
          color: #ffffff;
          margin: 0 auto;
          padding-bottom: 48px;
          }
      }
/* -------- Our services Styles -------- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .section-padding{
    padding: 96px 0;
  }

  .service-block-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  }
  
  .service-block-paragraph {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
   }
  
  .service-block-items {
    width:100%;
    margin-bottom: 72px;
    }
    .service-block-items:last-child {
        margin-bottom: 0px;
        }
.services-section-svg{
    display: none;
}

@media screen and (min-width: 768px){
  .service-block{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
.service-block-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: left;
  }
.service-block-items{
  max-width: 356px;
}
}

@media screen and (min-width: 1158px){
  .service-block-items {
    width: calc((100% - 72px) / 4);
    }
    .service-block{
      display: flex;
      gap: 24px;
    }
    .services-section-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    }
    .service-block-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #2e2f42;
      margin-bottom: 8px;
    }
    
    .service-block-paragraph {
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
    }
      }
/* -------------Our team section----------- */
.team-section {
    background: #f4f4fd;
  }
  .team-section-item {
    background-color: #ffffff
  }
  .team-section-titile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .team-section-list{
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .team-section-item {
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-description{
    padding-top:32px;
    padding-bottom: 32px;
    }
    
    .team-item-title{
        font-weight: 500;
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        background-color: #ffffff;
        }
.team-item-paragraph{
        font-weight: 400;
        line-height: 1.5;
        font-size: 16px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-bottom: 8px;
        }
.social-icons{
            display: flex;
            justify-content: center;
            gap: 24px;
          }
.social-icons-list{
          width: 40px;
          height: 40px;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
.social-list-link{
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          background-color: #4d5ae5;
          margin-bottom: 32px;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          .social-list-link:hover,
          .social-list-link:focus{
            background-color: #404bbf ;
          }
.link-icons{
            fill: #f4f4fd;
          }
/**@media screen and (min-width: 768px){
    .team-section-list{
    gap: 24px;
    row-gap: 64px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
}               